<div class="container fondo principal" id="container-fliud ">
    <div class="row">
        <div class="col-lg-12">
            <h1>Inicia Sesion</h1>
        </div>
        <div class=" offset-lg-3 col-lg-10">
            <h4>Correo electronico</h4>
        </div>
        <div class="col-lg-12">
            <input type="email" class="form-control  offset-lg-3 col-lg-7 " [(ngModel)]="emailInput" id="email"
                placeholder="" required='true'>
        </div>
        <div class="offset-lg-3  col-lg-10">
            <h4>Contraseña</h4>
        </div>
        <div class="col-lg-12" *ngIf="!isForgotPassword">
            <input type="password" class="form-control offset-lg-3 col-lg-7 " [(ngModel)]="passwordInput" id="password" required='true'>
        </div>
        <div id="alert">
            {{responseMessage}}
        </div>
    </div>

    <div class="">
        <button type="button" class="btn btn-success offset-lg-6 " (click)="loginUser()">Ingresar</button>

    </div>

</div>