.rounded-circle{
    width: 45px;
    height: 45px;
  }
  
  nav{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 12px;
  }
  
  .navbar-brand{
    font-size: 15px;
    font-weight: bold;
  }
  
  @media screen and (min-width:1092px){
    .email{
  
      padding-top: 15px !important;
    }
  }
  
  nav{
    margin-left: 3%;
    margin-right: 3%;
}
i{
    
    margin: 5%;
}
.containers{
    width: 10%;
    float: left !important;
}
#home{
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin: 1%;
    width: 94%;
    background-color: white;
}
h7{
    font-size: 10px;
}
#buscador{
    display: flexbox;
    float: right !important;
   text-align: right;
   }
   .col{
    font-size: 12px;
    font-weight: bold;
}
#cata{
    font-size: 21px;
    margin-top: 2%;
    font-weight: bold;
}
#que{
    font-size: 17px;
    font-weight: bold;
    margin-right: 4%;
}


a{
  margin-right: 5%;
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
}
.quick-btn {
  position: relative;
  /*display: inline-block;*/
  width: 25px;
  height: 30px;
  /*padding-top: 16px;
  margin: 10px;*/
  color: #212529;
  text-align: center;
  text-decoration: none;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);*/
  /*-webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;*/
  /*box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;*/
}
.quick-btn .label {
  position: absolute;
  top: -5px;
  right: -5px;
}
.notificacion{
  margin-top: 35%;
}
.label-success{
  color:red;
  font-size: 12px;
  text-shadow: 0 1px 0 white;
  

}